* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  flex-direction: column;
  gap: 21%;
}


.navbar{
     height: 70px;
     width: 100%;
     background-color: black;
     display: flex;
     justify-content: space-between;
     text-decoration: none;
     align-items: center;
     padding: 23px;       
}
h6{
    font-weight: 700;
   
    color: white;
     font-family: 'Cormorant Garamond', serif;
     font-size: clamp(1.125rem, 1vw + 0.5rem, 2rem);
}
.containerr{
  display: flex;                 
  align-items: center;            
  padding: 8px 20px;              
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #DAC064;
  box-shadow: 0 0 1px 1px rgba(218, 192, 100, 0.7); 
  margin-left: auto;
  height: auto;                   
}
.navpart2{
   font-size: 15px;
   display: flex;
   gap: 30px;  
}
a{
  color: white;
  text-decoration: none;
  position: relative;   
  padding: 5px 0;      
  transition: color 0.3s ease; 
  cursor: pointer;
}
.navpart2 a:hover {
 
  color: #DAC064;    
}
.navpart2 a:hover::after {
  width: 100%;  
}
.navpart2 a::after {
  content: "";                
  position: absolute;
  left: 0;
  bottom: -2px;                
  width: 0%;                   
  height: 2px;                
  background-color: #DAC064;    
  transition: width 0.3s ease-in-out;
}
.menu-icon {
  display: none;
  color: white;
  font-size: clamp(1.25rem, 2.5vw + 0.5rem, 2.25rem);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .container {
    border: none;
    box-shadow: none;
  }

  .navpart2 {
    display: none;
    flex-direction: column;
    background:transparent;
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 25px 25px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 0 10px rgba(218, 192, 100, 0.3);
  }

  .navpart2.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}



@media screen and (max-width: 768px) {
  .navpart2 {
    display: none;
    flex-direction: column;
    background-color: transparent; 
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 0 10px rgba(218, 192, 100, 0.3);
    z-index: 9999; 
  }

  .navpart2.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    z-index: 10000; 
  }

  .navpart2 a {
    pointer-events: auto; 
  }
} 

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  bottom: 10%;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border: none;
  padding: 12px 45px;
  margin-top: 10px;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button.ghost {
  background-color: transparent;
  border: 2px solid #fff;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right,#964A63,#3A0428);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



.divider {
  display: block;
  margin: 15px 0;

  font-size: 12px;
  font-weight: 600;
  color: #999;
  text-align: center;
  letter-spacing: 1px;
}










/* Navbar */
.navbar{
     height: 70px;
     width: 100%;
     /* background-color:rgb(135, 109, 117); */
     /* background: linear-gradient(#F1B9F2, #7F6ECB); */
     background-color: black;
     display: flex;
     justify-content: space-between;
     text-decoration: none;
     align-items: center;
     padding: 23px;       
}
h4{
    font-weight: 700;
    font-size: xx-large;
    color: white;
     font-family: 'Cormorant Garamond', serif;
}
.containerr{
  display: flex;                 
  align-items: center;            
  padding: 8px 20px;              
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #DAC064;
  box-shadow: 0 0 1px 1px rgba(218, 192, 100, 0.7); 
  margin-left: auto;
  height: auto;                   
}
.navpart2{
   font-size: 15px;
   display: flex;
   gap: 30px;  
}
a{
  color: white;
  text-decoration: none;
  position: relative;   
  padding: 5px 0;      
  transition: color 0.3s ease; 
  cursor: pointer;
}
.navpart2 a:hover {
  /* color:#CDA434; */
  color: #DAC064;    
}
.navpart2 a:hover::after {
  width: 100%;  
}
.navpart2 a::after {
  content: "";                
  position: absolute;
  left: 0;
  bottom: -2px;                
  width: 0%;                   
  height: 2px;                
  background-color: #DAC064;    
  transition: width 0.3s ease-in-out;
}
.menu-icon {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .container {
    border: none;
    box-shadow: none;
  }

  .navpart2 {
    display: none;
    flex-direction: column;
    background:transparent;
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 0 10px rgba(218, 192, 100, 0.3);
  }

  .navpart2.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}



@media screen and (max-width: 768px) {
  .navpart2 {
    display: none;
    flex-direction: column;
    background-color: transparent; 
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 0 10px rgba(218, 192, 100, 0.3);
    z-index: 9999; 
  }

  .navpart2.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    z-index: 10000; 
  }

  .navpart2 a {
    pointer-events: auto; 
  }
}

